@charset "UTF-8";
/* reset */
*{box-sizing: border-box;}
body,section,article,aside,nav,header,footer,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,button{
    margin:0;padding:0;
    font-family: 'jua';
}
fieldset,img{
    border:0 none
}
img {
    vertical-align: top; /* 인라인 수평맞추는것 */
}
dl,ul,ol,menu,li{
    list-style:none
}
blockquote,q{
    quotes: none /*따옴표 안생기게*/
}
blockquote:before,blockquote:after,q:before,q:after{
    content:'';content:none
}
input,select,textarea,button{
    border-radius:0;vertical-align:middle
}
input::-ms-clear{
    display:none
}
button{
    border:0 none;background-color:transparent;cursor:pointer
}
body{
    background:#fff;direction:ltr;-webkit-text-size-adjust:none
}
body,th,td,input,select,textarea,button{
    font-size:14px;line-height:1.5;font-family:AppleSDGothicNeo-Regular,'Montserrat',sans-serif;color:#1a1b1f;
}
a{
    color:#222;text-decoration:none
}
a:hover{
    color:#454545;text-decoration:underline
}
address,caption,cite,code,dfn,em,var{
    font-style:normal;font-weight:normal
}
hr {
     display: none;
}
/* html,body {
    width: 100%;
    height: 100%;
} */

.blind,legend {
    display: block;
    position: absolute;
    left: 0;
    top: -9999em;
    overflow: hidden;
}
.skip a {
    display: block;
    position: absolute;
    left: 0;
    top: -9999em;
    z-index: 9999;
    padding: 0 1em;
    background-color: #010101;
    color: #a0a0a0;
    line-height: 2.2;
}
.skip a:focus {
    top: 0;
}
.clearfix {
    *zoom: 1;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
.s1140 {width: 1140px; margin: 0 auto;}
.m1140 {min-width: 1140px; margin: 0 auto;}
/*  */
/* .form {
    display: flex;
    justify-content: center;
}
.form input {
    width: 100%;
} */
/* style */
#header {
    width: 100%;
    /* margin-bottom: 50px; */
    margin: 0 auto;
    /* position: absolute; */
    /* z-index: 100; */
    border: none;
    background-color: initial;
    padding-top: 1%;
    padding-bottom: 3%;
}
#header .logo {
    margin: auto;
}
#header a {
    font-family: 'jua';
    text-decoration: none;
    color: #000;
}
#header .nav {
    display: flex;
    margin: auto;
}
#header .nav ul {
    display: flex;
    flex-wrap: wrap;
}
#header .nav ul li {
    margin: 5px 15px 5px;
    transition: ease-out all 0.3s;
}
#header .nav ul li:hover {
    margin-top: 3px;
}
.btn_menu {
    display: none;
}

.customer {
    margin-top: 30px;
    text-align: center;
}
.customer h1 {
    font-size: 50px;
}
.customer span {
    font-size: 20px;
    font-weight: 300;
    padding-left: 46%;
}
/* from 태그 style */
.border_1 {
    box-sizing: border-box;
    border: 1px solid #000;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 3%;
    margin-top: 3%;
}
.field_wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.field_wrap input {
    width: 204%;
    height: 50px;
    box-sizing: border-box;
}
form {
    background-color: #f5f5f5;
    width: 70%;
    margin: 0 auto;
}
.field {
    margin-right: 16%;   
}
.field_1 {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
    margin-left: 2%;
}
.field_2 {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.field_2 select {
    width: 25.5%;
    height: 50px;
}
.select {
    margin-right: 3.2%;
}
.field_3 {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.field_3 textarea {
    width: 54.2%;
    margin-right: 3.2%;
}
.field_4 {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.field_4 label {
    display: none;
}
.field_4 input {
    width: 54.3%;
    border: 1px solid #a6a5a5;
    margin-right: 3.1%;
    /* height: 50px; */
}
.field_5 {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.btn_area {
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
} 
.btn_area button {
    padding: 1% 3% 1%;
    margin-right: 3%;
    color: #fff;
    font-family: 'jua';
    background-color: rgb(88, 88, 88);
    border: 1px solid rgb(88, 88, 88);
}
.btn_area button:hover {
    color: #000;
    background-color: #fff;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all 0.6s;
}
.title {
    width: 58%;
    margin: 0 auto;
    padding-bottom: 1%;
    padding-top: 2%;
    /* display: flex; */
    /* justify-content: center; */
}
/* .one {
    margin-right: 1%;
} */
#footer {
    background-color: #2f5367;
    padding: 10px 0 10px;
    margin-top: 50px;
    /* width: 119.3%; */
}
#footer .nav {
    display: flex;
    margin: auto;
}
#footer .logo {
    margin: auto;
}
#footer .address {
    margin-bottom: 0rem;
    font-family: 'jua';
    display: flex;
}
#footer ul {
    display: flex;
    flex-wrap: wrap;
}